<h1>Listing equipment</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
  </tr>

<% @equipment.each do |equipment| %>
  <tr>
    <td><%=h equipment.name %></td>
    <td><%=h equipment.description %></td>
    <td><%=h equipment.category_id %></td>
    <td><%= link_to 'Show', equipment %></td>
    <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
    <td><%= link_to 'Destroy', equipment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New equipment', new_equipment_path %>