<h1>Editing page_info</h1>

<% form_for(@page_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unique_id %><br />
    <%= f.text_field :unique_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :page_data %><br />
    <%= f.text_area :page_data %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page_info %> |
<%= link_to 'Back', page_infos_path %>