<p>
  <b>Name:</b>
  <%=h @songs.name %>
</p>

<p>
  <b>File size:</b>
  <%=h @songs.file_size %>
</p>

<p>
  <b>Album:</b>
  <%=h @songs.album_id %>
</p>

<p>
  <b>Length:</b>
  <%=h @songs.length %>
</p>


<%= link_to 'Edit', edit_songs_path(@songs) %> |
<%= link_to 'Back', songs_path %>