<h1>Listing albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Client</th>
  </tr>

<% @albums.each do |albums| %>
  <tr>
    <td><%=h albums.name %></td>
    <td><%=h albums.client_id %></td>
    <td><%= link_to 'Show', albums %></td>
    <td><%= link_to 'Edit', edit_albums_path(albums) %></td>
    <td><%= link_to 'Destroy', albums, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New albums', new_albums_path %>